.header {
    width: 100%;
    height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2563eb;
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  /* z-index: 1000; */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.05);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li {
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  transition: color 0.2s;
}

.nav-links li:hover {
  color: #facc15;
}

/* underline effect on hover */
.nav-links li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #facc15;
  left: 0;
  bottom: -4px;
  transition: width 0.3s;
}

.nav-links li:hover::after {
  width: 100%;
}

/* Login button */
.login-btn {
  background: #facc15;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.login-btn:hover {
  background: #fbbf24;
  transform: translateY(-2px);
}
